<div class="example-container m-12">
  <h2>
    <button
      mat-icon-button
      [routerLink]="['/medicina/paciente/listado']"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    Registros médicos de {{ pacienteData.nombre }}
  </h2>
  <div class="m-10">
    <form [formGroup]="formFilter">
      <mat-form-field class="mx-10">
        <mat-label>Buscar</mat-label>
        <input matInput formControlName="filtro" type="search" />
        <mat-hint>Filtro rápido</mat-hint>
      </mat-form-field>
      <!-- <button class="btn btn-primary mx-10" (click)="buscar()">Buscar</button> -->
      <button mat-flat-button color="primary" (click)="agregar()">
        <mat-icon>add</mat-icon>Agregar
      </button>
      <!-- <button class="btn btn-primary" (click)="limpiar()">Limpiar</button> -->
    </form>
  </div>

  <div *ngIf="showForm" class="card m-10 py-10 mat-elevation-z3">
    <h2 class="text-center">
      Registro de Historial - {{ formHistorial.value.id ? "Edición" : "Nuevo" }}
    </h2>
    <form [formGroup]="formHistorial">
      <mat-form-field class="mx-10">
        <mat-label>Fecha</mat-label>
        <input matInput formControlName="fecha" [matDatepicker]="picker" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="mx-10">
        <mat-label>Área</mat-label>
        <input matInput formControlName="area" type="text" />
      </mat-form-field>

      <mat-form-field class="mx-10">
        <mat-label>Medico</mat-label>
        <input matInput formControlName="medico" type="text" />
      </mat-form-field>

      <mat-form-field class="mx-10">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="descripcion" type="text" />
      </mat-form-field>

      <mat-form-field class="mx-10">
        <mat-label>Hospital</mat-label>
        <input matInput formControlName="hospital" type="text" />
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="guardar()" class="mx-10">
        <mat-icon>save</mat-icon>Guardar
      </button>

      <button mat-flat-button color="warn" (click)="cancelar()">
        <mat-icon>cancel</mat-icon>Cancelar
      </button>
    </form>
  </div>

  <div class="mat-elevation-z8 m-10">
    <table
      mat-table
      [dataSource]="dataSource"
      class="example-table"
      matSort
      matSortActive="documento"
      matSortDisableClear
      matSortDirection="asc"
    >
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let row">{{ row.fecha }}</td>
      </ng-container>

      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef>Área</th>
        <td mat-cell *matCellDef="let row">{{ row.area }}</td>
      </ng-container>

      <ng-container matColumnDef="medico">
        <th mat-header-cell *matHeaderCellDef>Medico</th>
        <td mat-cell *matCellDef="let row">
          {{ row.medico }}
        </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let row">
          {{ row.descripcion }}
        </td>
      </ng-container>

      <ng-container matColumnDef="hospital">
        <th mat-header-cell *matHeaderCellDef>Hospital</th>
        <td mat-cell *matCellDef="let row">
          {{ row.hospital }}
        </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-raised-button
            color="primary"
            focusable="false"
            class="mx-10"
            (click)="editar(row)"
          >
            Editar
          </button>
          <button
            mat-raised-button
            color="warn"
            focusable="false"
            class="mx-10"
            (click)="eliminar(row)"
          >
            Eliminar
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Si no tiene datos muestra un mensaje -->

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="6">No hay datos</td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
