body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.m-10{
  margin: 10px;
}
